body {
    color: white;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
}

.title {
    font-size: 50px;
    font-weight: 0;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.round {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.scoreboard {
    height: 50px;
    width: 200px;
    border: double 6px white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 30px;
}

.user, .comp {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    height: 30px;
    padding: 3px 12px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.user {
    background-color: rgb(255, 136, 0);
    border: 255,0 ,0;
}

.comp {
    background-color: rgb(234, 0, 255);
}

.options {
    padding-top: 100px;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    border: solid 2px white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userOptions, .computerOptions {
    display: flex;
    gap: 50px;
}

.fa-solid:hover {
    cursor: pointer;
}

.fa-hill-rockslide:hover {
    color: rgb(255, 136, 0);
}

.fa-toilet-paper:hover {
    color: rgb(255, 136, 0);
}

.fa-scissors:hover {
    color: rgb(255, 136, 0);
}

.fa-scissors, .fa-toilet-paper, .fa-hill-rockslide {
    font-size: 30px;
}